* {
  margin: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  padding: 10px;
  font-weight: 900;
  color: black;
  font-size: 3em;
  font-family: monospace;
}
#score-container {
  width: 75vh;
  display: flex;
  justify-content: space-between;
}
.square {
  box-sizing: border-box;

  background-color: red;
}
#playground {
  background-color: #aad751;
  display: flex;
  flex-wrap: wrap;
  width: 75vh;
  height: 75vh;
  border: 1px solid black;
}
#snake {
  position: absolute;
  background-color: hsla(260, 75%, 50%, 0.637);
}
.apple {
  background-color: red;
  position: absolute;
  border-radius: 50px;
}
.tempSnake {
  position: absolute;
  background-color: hsla(260, 75%, 50%, 0.637);
}
