* {
  margin: 0;
}
body {
  background-color: #4a752c;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  padding: 10px;
  font-weight: 900;
  color: white;
  font-size: 3em;
  font-family: monospace;
}
#score-container {
  width: 75vh;
  display: flex;
  justify-content: space-between;
}
.square {
  box-sizing: border-box;

  background-color: red;
}
#playground {
  background-color: #aad751;
  display: flex;
  flex-wrap: wrap;
  width: 75vh;
  height: 75vh;
}
#snake {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  position: absolute;
  background-color: rgb(0, 17, 255);
}
.eye {
  margin: 5px;
  background-color: white;
  width: 30%;
  border-radius: 50px;
  height: 30%;
}
.apple {
  /* background-color: red; */
  position: absolute;
  transition: 1s;

  /* border-radius: 50px; */
}
.tempSnake {
  position: absolute;
  border-radius: 15px;
  background-color: hsla(260, 75%, 50%, 0.452);
}
